.container {
    position: fixed;
    left: 50vw;
    top: 50vh;
    margin-left: -15vw;
    margin-top: -40vh;

    min-height: 80vh;
    min-width: 450px;
    width: 30vw;

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 2vh;
}
